@model TailMates.Web.ViewModels.Shelter.ShelterEditViewModel

@{
    ViewData["Title"] = $"Manage {Model.Name}";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/managepet.css" asp-append-version="true" />
}

<div class="container my-5">
    <div class="card shadow-lg border-0 rounded-lg p-4 p-md-2 bg-body-tertiary">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-10">
                <div class="form-container">
                    <h1 class="text-primary">@ViewData["Title"]</h1>
                    <h4 class="text-secondary">Update shelter details</h4>
                    <hr />
                    <form asp-action="Manage" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="Id" />

                        <div class="form-group mb-3">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Description"></label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ImageUrl"></label>
                            <input asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-primary mt-3">Update Shelter</button>
                            <a asp-action="All" asp-controller="Shelter" class="btn btn-secondary mt-3">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>