html, body {
    background-color: #F5F5F5 !important; 
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; 
}

.footer {
    padding-top: 8px; 
    padding-bottom: 8px; 
    margin-top: 0; 
    font-size: 0.85em; 
}

    .footer a {
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
    }

        .footer a:hover {
            color: #007bff;
        }

main > *:first-child {
    margin-top: 0 !important;
}

main > *:last-child {
    margin-bottom: 0 !important; 
}
